Makefile
Makefile.in

/aclocal.m4
/applet/.deps/
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.status
/config.sub
/configure
/depcomp
/examples/.deps/
/gtk-im/.deps/
/install-sh
/libtool
/ltmain.sh
/missing
/src/.deps/
/stamp-h1

*.la
*.lo
.libs

/src/matchbox-keyboard
